@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
color: #555;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
#header {
  background-color: #2d2f31;
  height: 150px;
  line-height: 150px;
}
#header-title {
	display: block;
	float: left;
	font-size: 20px;
	font-weight: bold;
}
#header-nav {
	display: block;
	float:right; 
	margin-top: 0;
}
#header-nav li {
	display: inline;
	padding-left: 25px;
	margin-top: 0;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
#header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
#header a:hover {
	color: #222;
}
#footer {
	background-color: #2d2f31;
	padding: 50px 0;
}
.column {
	min-width: 300px;
	display: inline-block;
	vertical-align: top;
}
h1, h2, h3, h4 {
	color #333
}
p {
	line-height: 1.5;
}
